body {
  background-image: linear-gradient(
    to right,
    rgb(49, 158, 221),
    rgb(47, 47, 161)
  );
}
form {
  margin-bottom: 40px;
}
form > input:first-child {
  width: 450px !important;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  padding-left: 20px;
}
form > input,
font > button {
  height: 60px;
  /* border: none; */
  outline: none;
  border: none !important;
  font-size: 22px;
}
form > button {
  font-size: 22px;
  font-weight: 700;
  word-spacing: 10px;
  color: #fff;
  border: none;
  border-bottom: none;
  border-top: none;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: rgb(43, 168, 226);
  padding-left: 20px;
  padding-right: 20px;
}
#footer {
  height: 100px;
  text-align: center;
  display: flex;
  align-items: center;
  color: #fff;
  font-size: larger;
  font-weight: 300;
  justify-content: center;
  background-image: linear-gradient(
    to right,
    rgb(17, 17, 114),
    rgb(49, 158, 221),
    rgb(17, 17, 114)
  );
  border-top: 1px solid #fff;
  margin: auto;
  outline: outline !important;
}
button:focus {
  outline: 0 !important;
}
button:hover {
  background: rgb(59, 112, 226);
  transition: 1s all ease-out;
}
